<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>falling_apple01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 4}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{-20, 43}</string>
			<key>spriteSize</key>
			<string>{28, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 1}, {28, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_apple02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {60, 82}}</string>
			<key>spriteOffset</key>
			<string>{-9, 21}</string>
			<key>spriteSize</key>
			<string>{60, 82}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{477, 1}, {60, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_apple03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {64, 132}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{64, 132}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 135}, {64, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_apple04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 9}, {86, 110}}</string>
			<key>spriteOffset</key>
			<string>{-14, 2}</string>
			<key>spriteSize</key>
			<string>{86, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 401}, {86, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_apple05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 54}, {82, 72}}</string>
			<key>spriteOffset</key>
			<string>{-5, -24}</string>
			<key>spriteSize</key>
			<string>{82, 72}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639, 269}, {82, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_apple06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 89}, {68, 40}}</string>
			<key>spriteOffset</key>
			<string>{-2, -43}</string>
			<key>spriteSize</key>
			<string>{68, 40}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{603, 135}, {68, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 3}, {26, 46}}</string>
			<key>spriteOffset</key>
			<string>{-12, 40}</string>
			<key>spriteSize</key>
			<string>{26, 46}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 1}, {26, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 3}, {62, 94}}</string>
			<key>spriteOffset</key>
			<string>{-5, 16}</string>
			<key>spriteSize</key>
			<string>{62, 94}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{919, 1}, {62, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 2}, {72, 130}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{72, 130}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 135}, {72, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {84, 122}}</string>
			<key>spriteOffset</key>
			<string>{-8, 5}</string>
			<key>spriteSize</key>
			<string>{84, 122}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 269}, {84, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 45}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{-6, -17}</string>
			<key>spriteSize</key>
			<string>{86, 76}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 401}, {86, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_banana06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 92}, {86, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -45}</string>
			<key>spriteSize</key>
			<string>{86, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 401}, {86, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 6}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{-19, 39}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 1}, {32, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 5}, {60, 86}}</string>
			<key>spriteOffset</key>
			<string>{-11, 18}</string>
			<key>spriteSize</key>
			<string>{60, 86}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{601, 1}, {60, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 4}, {64, 128}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{64, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 135}, {64, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 9}, {94, 114}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{94, 114}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 401}, {94, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 53}, {88, 76}}</string>
			<key>spriteOffset</key>
			<string>{-6, -25}</string>
			<key>spriteSize</key>
			<string>{88, 76}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 401}, {88, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_grapes06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 80}, {80, 52}}</string>
			<key>spriteOffset</key>
			<string>{-6, -40}</string>
			<key>spriteSize</key>
			<string>{80, 52}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{473, 269}, {80, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 14}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{-19, 37}</string>
			<key>spriteSize</key>
			<string>{24, 30}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {24, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 7}, {52, 78}}</string>
			<key>spriteOffset</key>
			<string>{-9, 20}</string>
			<key>spriteSize</key>
			<string>{52, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 1}, {52, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 6}, {58, 126}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{58, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 1}, {58, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 13}, {86, 114}}</string>
			<key>spriteOffset</key>
			<string>{-13, -4}</string>
			<key>spriteSize</key>
			<string>{86, 114}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 269}, {86, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 56}, {76, 72}}</string>
			<key>spriteOffset</key>
			<string>{-3, -26}</string>
			<key>spriteSize</key>
			<string>{76, 72}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 269}, {76, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_ice06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 0}, {62, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{62, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 135}, {62, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 5}, {32, 52}}</string>
			<key>spriteOffset</key>
			<string>{-18, 35}</string>
			<key>spriteSize</key>
			<string>{32, 52}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 1}, {32, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 5}, {68, 90}}</string>
			<key>spriteOffset</key>
			<string>{-10, 16}</string>
			<key>spriteSize</key>
			<string>{68, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{463, 135}, {68, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 4}, {66, 128}}</string>
			<key>spriteOffset</key>
			<string>{-8, -2}</string>
			<key>spriteSize</key>
			<string>{66, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{395, 135}, {66, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {106, 126}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{106, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 521}, {106, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 44}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -21}</string>
			<key>spriteSize</key>
			<string>{98, 86}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{917, 401}, {98, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_mango06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 0}, {74, 130}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{74, 130}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 269}, {74, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 3}, {28, 42}}</string>
			<key>spriteOffset</key>
			<string>{-16, 42}</string>
			<key>spriteSize</key>
			<string>{28, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{113, 1}, {28, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 3}, {60, 88}}</string>
			<key>spriteOffset</key>
			<string>{-8, 19}</string>
			<key>spriteSize</key>
			<string>{60, 88}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 1}, {60, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 2}, {68, 130}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{68, 130}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{533, 135}, {68, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {84, 120}}</string>
			<key>spriteOffset</key>
			<string>{-16, -2}</string>
			<key>spriteSize</key>
			<string>{84, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{809, 269}, {84, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 50}, {76, 78}}</string>
			<key>spriteOffset</key>
			<string>{-7, -23}</string>
			<key>spriteSize</key>
			<string>{76, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 269}, {76, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_orrange06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 86}, {74, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, -43}</string>
			<key>spriteSize</key>
			<string>{74, 46}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 269}, {74, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 4}, {26, 42}}</string>
			<key>spriteOffset</key>
			<string>{-17, 41}</string>
			<key>spriteSize</key>
			<string>{26, 42}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{27, 1}, {26, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 1}, {52, 94}}</string>
			<key>spriteOffset</key>
			<string>{-10, 18}</string>
			<key>spriteSize</key>
			<string>{52, 94}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 1}, {52, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 0}, {62, 132}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{62, 132}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{855, 1}, {62, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {90, 118}}</string>
			<key>spriteOffset</key>
			<string>{-12, 4}</string>
			<key>spriteSize</key>
			<string>{90, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{533, 401}, {90, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 49}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{-3, -23}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{391, 269}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pear06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 87}, {70, 40}}</string>
			<key>spriteOffset</key>
			<string>{-5, -41}</string>
			<key>spriteSize</key>
			<string>{70, 40}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{745, 135}, {70, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 5}, {34, 54}}</string>
			<key>spriteOffset</key>
			<string>{-19, 34}</string>
			<key>spriteSize</key>
			<string>{34, 54}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 1}, {34, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 6}, {62, 92}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{62, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 1}, {62, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 6}, {62, 126}}</string>
			<key>spriteOffset</key>
			<string>{-8, -3}</string>
			<key>spriteSize</key>
			<string>{62, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 135}, {62, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {108, 122}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{108, 122}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 521}, {108, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 42}, {96, 90}}</string>
			<key>spriteOffset</key>
			<string>{-4, -21}</string>
			<key>spriteSize</key>
			<string>{96, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 401}, {96, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pineapple06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 12}, {80, 120}}</string>
			<key>spriteOffset</key>
			<string>{-5, -6}</string>
			<key>spriteSize</key>
			<string>{80, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 269}, {80, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 9}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{-17, 39}</string>
			<key>spriteSize</key>
			<string>{30, 36}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{173, 1}, {30, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 8}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{-11, 16}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{791, 1}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {62, 124}}</string>
			<key>spriteOffset</key>
			<string>{-6, -4}</string>
			<key>spriteSize</key>
			<string>{62, 124}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{727, 1}, {62, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {86, 114}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{86, 114}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 401}, {86, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 56}, {82, 72}}</string>
			<key>spriteOffset</key>
			<string>{-6, -26}</string>
			<key>spriteSize</key>
			<string>{82, 72}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 269}, {82, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_pomegranate06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 0}, {70, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 132}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{673, 135}, {70, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 6}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{-21, 41}</string>
			<key>spriteSize</key>
			<string>{28, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{83, 1}, {28, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 6}, {64, 84}}</string>
			<key>spriteOffset</key>
			<string>{-6, 18}</string>
			<key>spriteSize</key>
			<string>{64, 84}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{261, 135}, {64, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 6}, {66, 126}}</string>
			<key>spriteOffset</key>
			<string>{-12, -3}</string>
			<key>spriteSize</key>
			<string>{66, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 135}, {66, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {96, 118}}</string>
			<key>spriteOffset</key>
			<string>{-18, -1}</string>
			<key>spriteSize</key>
			<string>{96, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{721, 401}, {96, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 58}, {88, 74}}</string>
			<key>spriteOffset</key>
			<string>{-12, -29}</string>
			<key>spriteSize</key>
			<string>{88, 74}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 401}, {88, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>falling_strabery06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 88}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, -44}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{817, 135}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{114, 178}</string>
			<key>spriteSourceSize</key>
			<string>{114, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 521}, {114, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{114, 169}</string>
			<key>spriteSourceSize</key>
			<string>{114, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 521}, {114, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{114, 178}</string>
			<key>spriteSourceSize</key>
			<string>{114, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219, 521}, {114, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{114, 156}</string>
			<key>spriteSourceSize</key>
			<string>{114, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{683, 521}, {114, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 20}</string>
			<key>spriteSize</key>
			<string>{116, 129}</string>
			<key>spriteSourceSize</key>
			<string>{116, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{799, 521}, {116, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>juicer_ingredient_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 180}</string>
			<key>spriteSourceSize</key>
			<string>{114, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{567, 521}, {114, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>fruits_falling</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fruits_falling_texture</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fruits_falling_texture</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>